@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background: url(bg.avif) no-repeat center center/cover;
}
.container{
    background-color: #ffffffcf;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #ffffffa5;
    width: 850px;
    min-height: 600px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px #d4d4d4;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.head input{
   outline: none;
   border: 2px solid #92afc4;
   padding: 5px 15px;
   border-radius: 5px;
   font-size: 16px;
}
.head button{
    outline: none;
    background-color: #257493;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
.head button:hover{
    background-color: #3e93b5;
}
.box h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 800;
    text-shadow: 0px 1px 1px #707070;
}
.box p{
    text-align: center;
    color: #004f6e;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}
#item {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    outline: 0;
    border: 2px solid #92afc4;
    border-radius: 5px;
    display: block;
    font-weight: bold;
}
#item:focus{
    box-shadow: 0px 0px 5px #94aebf;
}

#to-do-box {
    margin-top: 20px;
    list-style: none;
}

#to-do-box li {
    position: relative;
    box-shadow: 0px 0px 2px #a6a8a8;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: black;
    background-color: #dedede !important;
}